body {
    background-color: #fff1f1;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#main{
    width: 100%;
}

h1{
    text-align: center;
}

.productSection,
.cartSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cartHeader{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartTitle{
    text-align: center;
    font-size: 2rem;
}

.buyBtn{
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.buyBtn:hover{
    background-color: #1b680c;
    color: white;
}

.productContainer,
.productCartContainer{
    flex-basis: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8a293;
    border-radius: 15px;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 1px 1px 5px #00000098;
}

.productCartContainer{
    background-color: #ecd550;
}

.productId {
    font-size: 0.8rem;
    margin-top: 0px;
}

.productTitle{
    font-size: 1.2rem;
    margin-top: 5px;
}

.productDescription{
    font-size: 0.8rem;
}

.productImg{
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    max-width: 200px;
}

.productPrice{
    margin-top: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffe5e0;
}

.cartBtn,
.deleteCartBtn{
    margin: 10px;
    padding: 15px;
    border: none;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 1px 5px #00000098;
    transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
}

.cartBtn:hover{
    background-color: #1b680c;
    border: 2px solid #fff1f1;
    color: white;
}

.deleteCartBtn:hover{
    background-color: #ff583a;
    border: 2px solid #fff1f1;
    color: white;
}

